<template>
    <div class="d-flex d-flex-column justify-center align-center fill-height">
        <div>
            <p>Canvas not found</p>
            <code>{{ $route.path }}</code>
        </div>
    </div>
</template>
