html, body, .v-application, .v-application--wrap {
    min-height: 100%;
    height: 100%;
}

.settings-wrapper {
    background: #fbfbfb;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100%;
}